.country{
    border: 2px solid salmon;
    margin: 20px;
    border-radius: 15px;
    padding: 15px;
}


button{
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(65, 63, 63);
    font-weight: bold;
    cursor: pointer;
}