.country{
    border: 2px solid salmon;
    border-radius: 15px;
    color: white;
    padding: 15px;
}

.country img{
    border-radius: 15px;
    margin: 20px;
}

button{
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(73, 73, 73);
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    margin: 15px;
}

.country_visited{
    background-color: aquamarine;
    color: black;
}